.avatar-container {
    min-height: 80vh;
    position: relative;
    font-family: 'Arial', sans-serif;
    color: #e0e0e0;
}

.background-photo {
    position: relative;
    width: 100%;
    height: 100vh;
}

.background-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.middle-photo-section {
    margin: 30px 0;
    text-align: center;
} 

 .middle-photo {
    max-width: 850px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
} 

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    transform: translate(-50% , -50%);
    margin-top: 20px;
}

.event-header {
    text-align:center;
    margin-bottom: 20px;
    border-bottom: 1px solid #c9d0d9;
    padding-bottom: none;
    width: 115%;
    max-width: 1500px;
}

.title {
    font-size: 3 rem;
    font-weight: bold;
    color:  #000000;
    text-transform: uppercase;
    letter-spacing: 0%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
}

.content-section {
    text-align: center;
    width: 80%;
    max-width: 700px;
    margin-top: 20px;
}

.main-text {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 15px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 200 px;
}

.spacer {
    height: 5 px;
}

/* Responsive design */
@media (max-width: 768px) {
    .text-content {
        padding: 20px 15px;
        justify-content: center;
    }
    
    .title {
        font-size: 2rem;
        letter-spacing: 2px;
    }
    
    .main-text {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
    
    .content-section {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.6rem;
    }
    
    .main-text {
        font-size: 1rem;
    }
    
    .spacer {
        height: 20px;
    }
}