.tf-container {
  text-align: center;
  padding: 34px;
  background-color: #F0F0F0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tf-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}
.tf-images-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.tf-card {
  background-color: #d8d6d6fb;
  border-radius: 20px;
  padding: 10px;
  width: 140px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(115, 123, 163, 0.941);
}
.tf-card-title {
  font-size: 15px;
  margin-bottom: 5px;
  color: #080000;
}
.tf-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  margin: 10px auto;
  display: block;
   transition: transform 0.3s ease;
}
.tf-card-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #725266;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.tf-card-button:hover {
  background-color: #453442;
  transform: translateY(-4px);
}
.tf-card:hover {
     transform: translateY(-10px);
     box-shadow: 0 0 15px rgba(181, 102, 166, 0.5);
}
.tf-title:hover {
    color: #725266;
    transform: translateY(-5px);
}