@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Macondo', cursive;
}
